// wide screens
@include mediaXl{
    
}

// desktops and laptops screens
@include mediaLg{

    #about-content-div h1{
        font-size: 3rem;
      }

    #about-img-div{
        height: 30vh;
        margin-top: 15%;
        border-radius: 50%;
    }
}

// tablets and small laptops screens
@include mediaMd{
    main{
        align-items: center;
        text-align: center;
        
        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding{
        // float: none;
        // width: 100%;
        // min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    #about-content-div{
        /* background-color: blue; */
        width: 50%;
      
      }

      #about-content-div h1{
        font-size: 3rem;
      }

      #about-content-div p{
        line-height: 3em;
       }
   
       #about-img-div{
        // width: 20%;
        height: 30vh;
        margin-top: 15%;
        border-radius: 50%;
    }
}

// smart phones screens
@include mediaSm{
    main{
        .lg-heading {
            margin-top: 10vh;
            font-size: 3rem;
        }

    }

    
    ul.menu-nav{
        // float: none;
        // width: 100%;
        // min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }

        .nav-link{
            font-size: 25px;
            margin-top: 40%;
            // color: blue;
        }
    }


    nav{
        
        .menu-branding{
            visibility: hidden;
            width: 0;
        }

        .menu-nav{
        //    background-color: blue;
           width: 100%;
        }
    }

    #about-main{
        padding-top: 1vh;
        display: block;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
    }

    #about-content-div{
        width: 100%;
        margin: 0 auto;
    }

    #about-content-div h1{
        font-size: 3rem;
      }

      #about-content-div p{
        line-height: 2em;
       }

    #about-img-div{
        height: 15vh;
        visibility: hidden;
        border-radius: 50%;
    }
}